{% extends 'core/analytics_sidebar.html' %}
{% load staticfiles %}

{% block main %}
    <div id="clustering-tab-pane" class="tab-pane active">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Кластеризация
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group row">
                        <div class="col-xs-4">
                            <label for="cluster-method-select">Метод кластеризации</label>
                            <select class="form-control" name="cluster_method"
                                    id="id_cluster_method">
                                <option value="k_means">K Means</option>
                                <option value="mini_batch_k_means">Mini Batch K Means</option>
                                <option value="agglomerative">Agglomerative</option>
                                <option value="mean_shift">Mean Shift</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-4">
                            <label class="control-label">Тип медицинского обследования</label>
                            <select class="form-control" name="test" id="id_test" onchange="chooseTest(this);">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-1">
                            <label class="control-label">Показатели</label>
                        </div>
                        <div class="col-xs-4" id="id_features_div">
                            <select class="form-control" name="feature_cols" id="id_features"
                                    multiple="multiple"></select>
                        </div>
                    </div>
                    <!--Patients-->
                    <div class="form-group row">
                        <div class="col-xs-1">
                            <label for="patients-textarea">Пациенты</label>
                        </div>
                        <div class="col-xs-4" id="id_patients_div">
                            <select class="form-control" name="patients" id="id_patients" multiple="multiple">
                                {% for patient in patients %}
                                    <option value="{{ patient.id }}">{{ patient.short_info }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <!--Controls-->
                <div class="form-group row">
                    <div class="col-xs-8"></div>
                    <div class="col-xs-2">
                        <button type="button" class="form-control btn btn-success" style="width: 100%"
                                onclick="openClusteringDialog($('#id_cluster_method').val());">Кластеризовать
                        </button>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-success" id="dataset-clear-btn" style="width: 100%">
                            Очистить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="id_clustering_panel" hidden>
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading" id="dataset-panel-heading">
                    <ul class="nav nav-tabs" id="dataset-panel-heading-tabs">
                        <li id="id_k_means_tab" style="display: none;">
                            <a href="#id_k_means_chart" data-toggle="tab">
                                K Means
                            </a>
                        </li>
                        <li id="id_mini_batch_k_means_tab" style="display: none;">
                            <a href="#id_mini_batch_k_means_chart" data-toggle="tab">
                                Mini Batch K Means
                            </a>
                        </li>
                        <li id="id_agglomerative_tab" style="display: none;">
                            <a href="#id_agglomerative_chart" data-toggle="tab">
                                Agglomerative
                            </a>
                        </li>
                        <li id="id_mean_shift_tab" style="display: none;">
                            <a href="#id_mean_shift_chart" data-toggle="tab">
                                Mean Shift
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content" id="dataset-panel-content">
                        <div class="tab-pane fade in" id="id_k_means_chart" style="overflow: auto; display: none;">

                        </div>
                        <div class="tab-pane fade in" id="id_mini_batch_k_means_chart"
                             style="overflow: auto; display: none;">

                        </div>
                        <div class="tab-pane fade in" id="id_agglomerative_chart"
                             style="overflow: auto; display: none;">

                        </div>
                        <div class="tab-pane fade in" id="id_mean_shift_chart" style="overflow: auto; display: none;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Patient selection dialog-->
    <div class="modal fade" id="select-patients-dialog" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Выбрать пациентов</h4>
                </div>
                <div class="modal-body">
                    <div style="overflow: auto; height: 300px;">
                        <table id="patients-table" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>ФИО</th>
                                    <th>ОМС</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="patient-select-btn" type="button" class="btn btn-success" data-dismiss="modal"
                            onclick="selectPatientBtn_Click();">Выбрать
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <!--K Means-->
    <div class="modal fade" id="id_k_means_dialog" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">K Means</h4>
                </div>
                <div class="modal-body">
                    <div style="overflow: auto; height: 300px;">
                        <form id="id_k_means_form" class="modal-form">
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>
                                        Метод отбора показателей
                                    </label>
                                    <select class="form-control" name="select_method">
                                        <option value="none">Не снижать размерность</option>
                                        <option value="pca">PCA</option>
                                        <option value="kernel_pca">Kernel PCA</option>
                                        <option value="logit">Логистическая регрессия</option>
                                        <option value="chi2">Хи-квадрат статистика</option>
                                        <option value="svc">SVC</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>
                                        Количество показателей
                                    </label>
                                    <input type="text" class="form-control" name="n_features">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>
                                        Ядро
                                    </label>
                                    <select class="form-control" name="kernel">
                                        <option value="poly">Полиномиальное</option>
                                        <option value="sigmoid">Сигмоида</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>
                                        Степень (Kernel PCA)
                                    </label>
                                    <input type="text" class="form-control" name="degree">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>
                                            Минимум кластеров
                                        </label>
                                        <input class="form-control" type="text" name="n_clusters[]" value="2">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>
                                            Максимум кластеров
                                        </label>
                                        <input class="form-control" type="text" name="n_clusters[]" value="2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>
                                            Оценка качества кластеризации
                                        </label>
                                        <select class="form-control" name="perf_method">
                                            <option value="none">Не производить</option>
                                            <option value="elbow">Elbow method</option>
                                            <option value="silhouette">Silhouette method</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-9">
                                    <label>
                                        Прозрачность
                                    </label>
                                    <input id="kmeans-alpha-ranger1" type="range" min="0.05" max="1.0" step="0.05"
                                           class="form-control"
                                           name="alpha" onchange="$('#kmeans-alpha-ranger2').val($(this).val())">
                                </div>
                                <div class="col-xs-3">
                                    <label class="form"></label>
                                    <input id="kmeans-alpha-ranger2" class="form-control"
                                           onchange="$('#kmeans-alpha-ranger1').val($(this).val())"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label class="control-label">
                                        Цветовая гамма
                                    </label>
                                    <select class="form-control" name="color_map">
                                        <option value="brg">RGB</option>
                                        <option value="hsv">HSV</option>
                                        <option value="rainbow">Радуга</option>
                                        <option value="summer">Лето</option>
                                        <option value="autumn">Осень</option>
                                        <option value="winter">Зима</option>
                                        <option value="spring">Весна</option>
                                        <option value="gnuplot">GNU Plot</option>
                                        <option value="jet">Jet</option>
                                        <option value="gist_rainbow">Gist Rainbow</option>
                                        <option value="nipy_spectral">Nipy Spectral</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label class="control-label">
                                        Формат
                                    </label>
                                    <select class="form-control" name="format">
                                        <option value="png">png</option>
                                        <option value="svg">svg</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <label class="control-label">
                                        Ширина
                                    </label>
                                    <input class="form-control" name="width" value="8">
                                </div>
                                <div class="form-group col-xs-6">
                                    <label class="control-label">
                                        Длина
                                    </label>
                                    <input class="form-control" name="height" value="8">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal"
                            onclick="cluster('k_means')();">Кластеризовать
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <!--K Means: end-->
    <!--Mini Batch K Means-->
    <div class="modal fade" id="id_mini_batch_k_means_dialog" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mini Batch K Means</h4>
                </div>
                <div class="modal-body">
                    <div style="overflow: auto; height: 300px;">
                        <form id="id_mini_batch_k_means_form" class="modal-form">
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>
                                        Метод отбора показателей
                                    </label>
                                    <select class="form-control" name="select_method">
                                        <option value="none">Не снижать размерность</option>
                                        <option value="pca">PCA</option>
                                        <option value="kernel_pca">Kernel PCA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>
                                        Количество показателей
                                    </label>
                                    <input type="text" class="form-control" name="n_features">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>
                                        Ядро
                                    </label>
                                    <select class="form-control" name="kernel">
                                        <option value="poly">Полиномиальное</option>
                                        <option value="sigmoid">Сигмоида</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>
                                        Степень (Kernel PCA)
                                    </label>
                                    <input type="text" class="form-control" name="degree">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>
                                            Минимум кластеров
                                        </label>
                                        <input class="form-control" type="text" name="n_clusters[]" value="2">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>
                                            Максимум кластеров
                                        </label>
                                        <input class="form-control" type="text" name="n_clusters[]" value="2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>
                                            Оценка качества кластеризации
                                        </label>
                                        <select class="form-control" name="perf_method">
                                            <option value="none">Не производить</option>
                                            <option value="elbow">Elbow method</option>
                                            <option value="silhouette">Silhouette method</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-9">
                                    <label>
                                        Прозрачность
                                    </label>
                                    <input id="mbkmeans-alpha-ranger1" type="range" min="0.05" max="1.0" step="0.05"
                                           class="form-control"
                                           name="alpha" onchange="$('#mbkmeans-alpha-ranger2').val($(this).val())">
                                </div>
                                <div class="col-xs-3">
                                    <label class="form"></label>
                                    <input id="mbkmeans-alpha-ranger2" class="form-control"
                                           onchange="$('#mbkmeans-alpha-ranger1').val($(this).val())"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label class="control-label">
                                        Цветовая гамма
                                    </label>
                                    <select class="form-control" name="color_map">
                                        <option value="brg">RGB</option>
                                        <option value="hsv">HSV</option>
                                        <option value="rainbow">Радуга</option>
                                        <option value="summer">Лето</option>
                                        <option value="autumn">Осень</option>
                                        <option value="winter">Зима</option>
                                        <option value="spring">Весна</option>
                                        <option value="gnuplot">GNU Plot</option>
                                        <option value="jet">Jet</option>
                                        <option value="gist_rainbow">Gist Rainbow</option>
                                        <option value="nipy_spectral">Nipy Spectral</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label class="control-label">
                                        Формат
                                    </label>
                                    <select class="form-control" name="format">
                                        <option value="png">png</option>
                                        <option value="svg">svg</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <label class="control-label">
                                        Ширина
                                    </label>
                                    <input class="form-control" name="width" value="8">
                                </div>
                                <div class="form-group col-xs-6">
                                    <label class="control-label">
                                        Длина
                                    </label>
                                    <input class="form-control" name="height" value="8">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal"
                            onclick="cluster('mini_batch_k_means')();">Кластеризовать
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <!--Mini Batch K Means: end-->
    <!--Agglomerative-->
    <div class="modal fade" id="id_agglomerative_dialog" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agglomerative</h4>
                </div>
                <div class="modal-body">
                    <div style="overflow: auto; height: 300px;">
                        <form id="id_agglomerative_form" class="modal-form">
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>
                                        Метод отбора показателей
                                    </label>
                                    <select class="form-control" name="select_method">
                                        <option value="none">Не снижать размерность</option>
                                        <option value="pca">PCA</option>
                                        <option value="kernel_pca">Kernel PCA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>
                                        Количество показателей
                                    </label>
                                    <input type="text" class="form-control" name="n_features">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>
                                        Ядро
                                    </label>
                                    <select class="form-control" name="kernel">
                                        <option value="poly">Полиномиальное</option>
                                        <option value="sigmoid">Сигмоида</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>
                                        Степень (Kernel PCA)
                                    </label>
                                    <input type="text" class="form-control" name="degree">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <div class="form-group">
                                        <label>
                                            Agglomerative Linkage
                                        </label>
                                        <select class="form-control" name="linkage">
                                            <option value="average">average</option>
                                            <option value="ward">ward</option>
                                            <option value="complete">complete</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>
                                            Минимум кластеров
                                        </label>
                                        <input class="form-control" type="text" name="n_clusters[]" value="2">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>
                                            Максимум кластеров
                                        </label>
                                        <input class="form-control" type="text" name="n_clusters[]" value="2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>
                                            Оценка качества кластеризации
                                        </label>
                                        <select class="form-control" name="perf_method">
                                            <option value="none">Не производить</option>
                                            <option value="elbow">Elbow method</option>
                                            <option value="silhouette">Silhouette method</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-9">
                                    <label>
                                        Прозрачность
                                    </label>
                                    <input id="agg-alpha-ranger1" type="range" min="0.05" max="1.0" step="0.05"
                                           class="form-control"
                                           name="alpha" onchange="$('#agg-alpha-ranger2').val($(this).val())">
                                </div>
                                <div class="col-xs-3">
                                    <label class="form"></label>
                                    <input id="agg-alpha-ranger2" class="form-control"
                                           onchange="$('#agg-alpha-ranger1').val($(this).val())"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label class="control-label">
                                        Цветовая гамма
                                    </label>
                                    <select class="form-control" name="color_map">
                                        <option value="brg">RGB</option>
                                        <option value="hsv">HSV</option>
                                        <option value="rainbow">Радуга</option>
                                        <option value="summer">Лето</option>
                                        <option value="autumn">Осень</option>
                                        <option value="winter">Зима</option>
                                        <option value="spring">Весна</option>
                                        <option value="gnuplot">GNU Plot</option>
                                        <option value="jet">Jet</option>
                                        <option value="gist_rainbow">Gist Rainbow</option>
                                        <option value="nipy_spectral">Nipy Spectral</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label class="control-label">
                                        Формат
                                    </label>
                                    <select class="form-control" name="format">
                                        <option value="png">png</option>
                                        <option value="svg">svg</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <label class="control-label">
                                        Ширина
                                    </label>
                                    <input class="form-control" name="width" value="8">
                                </div>
                                <div class="form-group col-xs-6">
                                    <label class="control-label">
                                        Длина
                                    </label>
                                    <input class="form-control" name="height" value="8">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal"
                            onclick="cluster('agglomerative')();">Кластеризовать
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <!--Agglomerative: end-->
    <!--Mean shift-->
    <div class="modal fade" id="id_mean_shift_dialog" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mean shift</h4>
                </div>
                <div class="modal-body">
                    <div style="overflow: auto; height: 300px;">
                        <form id="id_mean_shift_form" class="modal-form">
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>
                                        Метод отбора показателей
                                    </label>
                                    <select class="form-control" name="select_method">
                                        <option value="none">Не снижать размерность</option>
                                        <option value="pca">PCA</option>
                                        <option value="kernel_pca">Kernel PCA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>
                                        Количество показателей
                                    </label>
                                    <input type="text" class="form-control" name="n_features">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>
                                        Ядро
                                    </label>
                                    <select class="form-control" name="kernel">
                                        <option value="poly">Полиномиальное</option>
                                        <option value="sigmoid">Сигмоида</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>
                                        Степень (Kernel PCA)
                                    </label>
                                    <input type="text" class="form-control" name="degree">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>
                                        Квантиль
                                    </label>
                                    <input class="form-control" type="text" name="quantile">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>
                                            Оценка качества кластеризации
                                        </label>
                                        <select class="form-control" name="perf_method">
                                            <option value="none">Не производить</option>
                                            <option value="elbow">Elbow method</option>
                                            <option value="silhouette">Silhouette method</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-9">
                                    <label>
                                        Прозрачность
                                    </label>
                                    <input id="ms-alpha-ranger1" type="range" min="0.05" max="1.0" step="0.05"
                                           class="form-control"
                                           name="alpha" onchange="$('#ms-alpha-ranger2').val($(this).val())">
                                </div>
                                <div class="col-xs-3">
                                    <label class="form"></label>
                                    <input id="ms-alpha-ranger2" class="form-control"
                                           onchange="$('#ms-alpha-ranger1').val($(this).val())"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label class="control-label">
                                        Цветовая гамма
                                    </label>
                                    <select class="form-control" name="color_map">
                                        <option value="brg">RGB</option>
                                        <option value="hsv">HSV</option>
                                        <option value="rainbow">Радуга</option>
                                        <option value="summer">Лето</option>
                                        <option value="autumn">Осень</option>
                                        <option value="winter">Зима</option>
                                        <option value="spring">Весна</option>
                                        <option value="gnuplot">GNU Plot</option>
                                        <option value="jet">Jet</option>
                                        <option value="gist_rainbow">Gist Rainbow</option>
                                        <option value="nipy_spectral">Nipy Spectral</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label class="control-label">
                                        Формат
                                    </label>
                                    <select class="form-control" name="format">
                                        <option value="png">png</option>
                                        <option value="svg">svg</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <label class="control-label">
                                        Ширина
                                    </label>
                                    <input class="form-control" name="width" value="8">
                                </div>
                                <div class="form-group col-xs-6">
                                    <label class="control-label">
                                        Длина
                                    </label>
                                    <input class="form-control" name="height" value="8">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal"
                            onclick="cluster('mean_shift')();">Кластеризовать
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'babel/babel.min.js' %}">
    </script>
    <script src="{% static 'react-dom/react.development.js' %}"></script>
    <script src="{% static 'react-dom/react-dom.development.js' %}"></script>
    <script src="{% static 'bootbox/bootbox.js' %}"></script>
    <script src="{% static 'jquery-serializer/jquery.serialize-object.min.js' %}"></script>
    <script>
        $('#id_clustering_nav_item').addClass('active');
    </script>
    <script>
        window.tests = {};

        function chooseTest(selectedTest) {
            console.log(event);
            if (selectedTest.value) {
                $('#id_features_div').empty();
                $('#id_features_div').append("<select id='id_features' class='form-control' multiple='multiple'></select>");
                var test = window.tests.filter(function (test) {
                    return test['short_name'] === selectedTest.value;
                })[0];
                test['real_inds'].forEach(function (ind) {
                    $('#id_features').append("<option value='" + ind['short_name'] + "'>" + ind['name'] + "</option>");
                });
                $('#id_features').multiselect();
                $('#id_features_div button').addClass('form-control');
                $('#id_features_div button').removeClass('btn');
                $('#id_features_div button').removeClass('btn-default');
            }
        }

        function drawChart(visMethod) {
            return function (image) {
                $('#id_clustering_panel').attr('hidden', null);
                $('#id_' + visMethod + '_tab').css('display', '');
                $('#id_' + visMethod + '_chart').css('display', '');
                $('#id_' + visMethod + '_chart').empty();
                var chart = $('<img></img');
                chart.attr("src", "data: image/png; base64, " + image);
                $('#id_' + visMethod + '_chart').append(chart);
            };
        }

        /**
         * Show visualization dialog
         * @param visMethod
         */
        function openClusteringDialog(visMethod) {
            $('#id_' + visMethod + "_dialog").modal();
        }

        function validateParams(params) {
            var val = true;
            if (params['feature_cols'] && params['feature_cols'].length === 1) {
                bootbox.alert({
                    message: 'Количество выбранных показателей не дожно быть меньше, 2'
                });
                return false;
            }
            return true;
        }

        /**
         * Return visualization function
         */
        function cluster(visMethod) {
            return function () {
                var params = $('#id_' + visMethod + "_form").serializeObject();
                params['cluster_method'] = visMethod;
                params['test'] = $('#id_test').val();
                params["out_view"] = "base64";
                params['patients'] = $('#id_patients').val();
                params['feature_cols'] = $('#id_features').val();
                if (!validateParams(params))
                    return;
                $.ajax({
                        type: "get",
                        url: '{% url 'analytics:cluster' %}',
                        crossDomain: true,
                        cache: false,
                        data: $.param(params),
                        success: drawChart(visMethod),
                        error: function (xhr, textStatus, errorThrown) {
                            console.log(xhr.responseText);
                            var json = $.parseJSON(xhr.responseText);
                            bootbox.alert({
                                message: json.message
                            });
                        }
                    }
                );
            };
        }

        /**
         * Init function after document is ready
         */
        function init() {
            $('#id_patients').multiselect();
            $('#id_patients_div button').addClass('form-control');
            $('#id_patients_div button').removeClass('btn');
            $('#id_patients_div button').removeClass('btn-default');
            $.get('{% url 'api:tests' %}')
                .done(function (tests) {
                    $('#id_test').empty();
                    window.tests = tests;
                    tests.forEach(function (test) {
                        $("#id_test").append($("<option value='" + test['short_name'] + "'>" + test['name'] + "</option>"));
                    });
                });
        }

        $(document).ready(init());
    </script>
{% endblock %}