{% extends 'patients/patient_sidebar.html' %}
{% load staticfiles %}
{% block main %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            Пациент {{ patient.surname }} {{ patient.name }} {{ patient.patronymic|default_if_none:'' }}
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group row">
                    <label class="col-md-2 control-label">ФИО</label>
                    <div class="col-md-4">
                        <input value="{{ patient.surname }} {{ patient.name }} {{ patient.patronymic|default_if_none:'' }}"
                               class="form-control">
                    </div>
                    <label class="col-md-1 control-label">Пол</label>
                    <div class="col-md-2">
                        <input value="{{ patient.gender }}"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 control-label">Дата рождения</label>
                    <div class="col-md-3">
                        <input value="{{ patient.birthday }} ({{ patient.age }} лет)"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 control-label">ОМС</label>
                    <div class="col-md-3">
                        <input value="{{ patient.omi_card }}"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 control-label">Группа крови</label>
                    <div class="col-md-2">
                        <input value="{{ patient.blood_group }}"
                               class="form-control">
                    </div>
                    <label class="col-md-2 control-label">Резус-фактор</label>
                    <div class="col-md-2">
                        <input value="{{ patient.rh_factor }}"
                               class="form-control">
                    </div>
                    <label class="col-md-2 control-label">Инвалидность</label>
                    <div class="col-md-2">
                        <input value="{{ patient.is_disabled }}"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 control-label">Адрес</label>
                    <div class="col-md-6">
                        <textarea class="form-control">{{ patient.address|default_if_none:"" }}</textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'bootbox/bootbox.js' %}"></script>
    <script>
        $('#id_patient_nav_item').addClass('active');
    </script>
    <script>
        /*
        Delete patient
         */
        function deletePatient() {
            $.post('{% url 'patients:delete' patient_id=patient.id %}', {'csrfmiddlewaretoken': '{{ csrf_token }}'})
                .done(function () {
                    window.location = "{% url 'patients:list' %}";
                });
        }

        /*
        Delete medical test
         */
        function deleteTest(url) {
            bootbox.confirm({
                message: "Вы действительно хотите удалить запись об обследовании?",
                buttons: {
                    confirm: {
                        label: 'Да',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Нет',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.post(url, {'csrfmiddlewaretoken': '{{ csrf_token }}'})
                            .done(function () {
                                window.location = "{% url 'patients:show' patient_id=patient.id %}";
                            });
                    }
                }
            });
        }
    </script>
{% endblock %}