{% extends 'core/base_menu.html' %}
{% load staticfiles %}
{% block header %}
    <style>
        body {
            padding-top: 40px;
        }
        .screenshot{
            margin: 30px auto;
        }
    </style>
{% endblock %}
{% block content %}
    <h2 class="page-header">
        Работа с картами пациентов
    </h2>
    <p class="lead">
        Вы можете создавать новые карты пациентов и редактировать их,
        следить за состоянием пациента и контролировать динамику
    </p>
    <h3>Создание карты пациента</h3>
    <p class="lead">Чтобы создать карту пациента, Вы должны на странице с таблицой пациентов
        нажать на кнопку "Добавить пациента" и перейти на новую страницу.
    </p>
    <img class="screenshot" src="{% static 'img/core/help_add_patient.png' %}" style="width: 100%; height: auto;">
    <p class="lead">На данной странице Вам необходимо ввести ФИО пациента, пол и дату рождения. Поля "Адрес" и "Род деятельности"
        необязательны для заполнения. Также необходимо указать номер полиса обязательного медицинского страхования (ОМС), чтобы
        уникально идентифицировать пациента в базе данных.
    </p>
    <img class="screenshot" src="{% static 'img/core/help_save_patient.png' %}" style="width: 100%; height: auto;">
    <p class="lead">
    После нажатия на "Сохранить медкарту пациента" запись о пациенте создается в БД и Вы можете
    посмотреть ее. Для этого Вам нужно нажать на главном меню "Пациенты", выбрать в боком меню "Пациенты"
    и нажать на кнопку "Открыть" в виде зеленого квадрата с пером в строке интересующего пациента
    </p>
    <img class="screenshot" src="{% static 'img/core/help_open_patient.png' %}">
{% endblock %}

{% block scripts %}

{% endblock %}