{% extends 'patients/sidebar.html' %}
{% load staticfiles %}

{% block main %}
    <div class="tab-pane active" id="id_patients">
        <div class="row">
            <div class="col-xs-4">
                <div class="input-group">
                    <input id="id_search" name="search_full_name" class="form-control" placeholder="ФИО пациента">
                    <span class="input-group-btn">
                                <button class="btn btn-success" type="button" onclick="search();">Найти</button>
                            </span>
                </div>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-success" onclick="window.location='{% url 'patients:create' %}'">Добавить
                    пациента
                </button>
            </div>
        </div>
        <br/>
        <table id="patients-table" class="table table-striped table-bordered table-hover" cellpadding="0"
               style="width: 100%; ">
            <thead>
                <tr>
                    <th>ОМС</th>
                    <th>ФИО</th>
                    <th>Пол</th>
                    <th>Возраст</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody id="patients-table-body">
                {% for patient in patients %}
                    <tr>
                        <td>
                            № {{ patient.omi_card }}
                        </td>
                        <td>{{ patient.surname }} {{ patient.name }} {{ patient.patronymic|default_if_none:"" }}</td>
                        <td>{{ patient.gender }}</td>
                        <td>{{ patient.age }}</td>
                        <td>
                            <a href="{% url 'patients:show' patient_id=patient.id %}" class="btn btn-success">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="{% url 'patients:delete' patient_id=patient.id %}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#id_patients_nav_item').addClass('active');
        function search() {
            window.location = '{% url 'patients:list' %}' + '?' + 'search_full_name=' + $('#id_search').val();
        }
    </script>
{% endblock %}